body{
  font-family: 'Inter';
  font-style: normal;
  color: #292525;
  background-image: url(/images/background.png);
  background-size: cover;
}

a{
  color: black;
  text-decoration: none;
}

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header{
  margin-top: 2.60vw;
  margin-left: 1.614vw;
  margin-bottom: 2.291vw;
  display: flex;
}

.main{
  width: 100vw;
}

.logo{
  font-weight: 800;
  font-size: 1.35vw;
  line-height: 1.61vw;
  margin-right: 2.08vw;
}

.navigation{
  font-weight: 400;
  font-size: 1.35vw;
  line-height: 1.61vw;
}

.navigation_item{
  margin-right: 1.198vw;
}

.division{
  background: #8D8D8D;
  opacity: 0.97;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 12.1vw;
}

.main_info{
  position: absolute;
  z-index: 3;
  margin-top: 3.75vw;
  margin-left: 1.614vw;
  display: flex;
  width: 100%;
}

.profile_info{
  background-color: #D9D9D9;
  opacity: 0.95;
  width: 22%;
  margin-right: 1.66vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68vh;
}

.project_info{
  width: 76%;
}

.user_img{
  width: 5.730vw;
  margin-bottom: 1.19vw;
  margin-top: 2.60vw;
}

.user_name{
  margin-bottom: 3.75vw;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 0.98vw;
}

.edit_button{
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 1.25vw;
  background: #8D8D8D;
  border-radius: 1.38vw;
  padding: 0.72vw 1.04vw;
}

.edit_button:hover{
background-color: #15CE86;
transition: 0.3s;
}

.search{
  box-sizing: border-box;
  background: #D9D9D9;
  background-image: url(/images/search_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.625vw 4vw;
  opacity: 0.95;
  border-radius: 0.93vw 0.93vw 0px 0px;
  border: none;
  font-weight: 400;
  font-size: 1.66vw;
  line-height: 2.03vw;
  width: 73.5vw;
  margin-bottom: 1.25vw;
}

.filters_box{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 73.5vw;
  padding-bottom: 0.260vw;
}

.filters{
  opacity: 0.95;
  background-color: #D9D9D9;
  border: none;
  padding-left: 1.56vw;
  padding-top: 0.260vw;
  padding-right: 1.14vw;
  font-weight: 400;
  font-size: 1.09vw;
  line-height: 1.30vw;
}

.filters:first-child{
  border-radius: 0px 0px 0px 0.625vw;
}

.filters:last-child{
  border-radius: 0px 0px 0.625vw 0px;
}

.project_gallery{
  margin-top: 3.43vw;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project_cards{
  display: flex;
  flex-direction: column;
  width: 17.5vw;
  height: 14.1vw;
  margin-right: 1.19vw;
}

.add_project{
  background-image: url(/images/button_add.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.20vw;
  height: 5.20vw;
  color:transparent;
}

.add_project_container{
  position: absolute;
  z-index: 4;
  padding: 4.47vw 6.19vw;
}

.project_name{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #292525;
}
