body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #F5F5C8;
    background: #F5F5C8;
}

*,
*:before,
*:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }


.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


/* #region Header */

.header {
    padding-top: 48px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 242px;
    height: 144px;
    user-select: none;
    padding: 23px 7px;
    font-size: 39px;
    line-height: 48px;
    background: #DB5141;
}

.header_nav_top {
    display: flex;
    font-size: 37px;
    margin-bottom: 5px;
}

.header_nav_top_rectangle {
    width: 950px; /*1147*/
    height: 89px;
    user-select: none;
    padding: 23px 10px;
    margin-right: 5px;
    outline: none;
    background: #2E1D1A;
    transition: background 0.2s linear;
}

.header_nav_top_rectangle:hover {
    color: #F5F5C8;
    background: #B93726;
}

.header_account_button {
    color: #F5F5C8;
    text-decoration: none;
    user-select: none;
    background: #2E1D1A;
    padding: 16px 7px;
    margin-right: 5px;
    outline: none;
    transition: background 0.2s linear;
}

.header_account_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.header_logout_button {
    color: #F5F5C8;
    text-decoration: none;
    user-select: none;
    background: #2E1D1A;
    padding: 16px 7px;
    outline: none;
    transition: background 0.2s linear;
}

.header_logout_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.header_nav_bottom {
    display: flex;
    font-size: 30px;
}

.header_home_button {
    color: #F5F5C8;
    text-decoration: none;
    user-select: none;
    background: #2E1D1A;
    padding: 3px 10px;
    margin-right: 5px;
    outline: none;
    transition: background 0.2s linear;
}

.header_home_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.header_popular_button {
    color: #F5F5C8;
    text-decoration: none;
    user-select: none;
    background: #2E1D1A;
    padding: 3px 10px;
    margin-right: 5px;
    outline: none;
    transition: background 0.2s linear;
}

.header_popular_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.header_nav_bottom_rectangle {
    width: 1030px; /*1054*/
    height: 51.33px; /*50*/
    outline: none;
    background: #2E1D1A;
    transition: background 0.2s linear;
}

.header_nav_bottom_rectangle:hover {
    color: #F5F5C8;
    background: #B93726;
}

/* #endregion Header */

/* #region Main */

.main {
    padding-top: 260px;
    display: grid;
}

.tool_bar {
    width: 100%;
    height: 102px;
    background: #1F4D40;
    display: flex;
}

.search {
    display: flex;
    margin: 0;
}

.search input {
    border: none;
    outline: none;
    color: #111211;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: #F5F5C8;
    margin-left: 23px;
    margin-top: 26px;
    margin-bottom: 23px;
    padding-left: 15px;
    padding-top: 3px;
}


.search button {
    border: none;
    outline: none;
    background: #F5F5C8;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: 23px;
    padding: 0 12px;
}

.search button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #111211;
    font-size: 30px;
    font-weight: 400;
}

.project_grid {
    margin-top: 60px;
    display: grid;
}

/* #endregion Main */

/* #region Profile */

.profile { }

.profile_header_nav_top_rectangle {
    width: 1134px; /*1147*/
    height: 89px;
    user-select: none;
    padding: 23px 10px;
    margin-right: 5px;
    outline: none;
    background: #2E1D1A;
    transition: background 0.2s linear;
}

.profile_header_nav_top_rectangle:hover {
    color: #F5F5C8;
    background: #B93726;
}

.profile_main_information {
    display: flex;
    width: 507px;
    background: #1F4D40;
    margin-right: 13px;
    margin-bottom: 10px;
}

.profile_main_projectadd_button {
    display: block;
    height: 64px;
    color: #F5F5C8;
    text-decoration: none;
    height: 50px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    user-select: none;
    background: #2E1D1A;
    padding: 2px 10px;
    outline: none;
    transition: background 0.2s linear;
}

.profile_main_projectadd_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.profile_main_edit_button {
    display: block;
    height: 64px;
    color: #F5F5C8;
    text-decoration: none;
    height: 50px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    user-select: none;
    background: #2E1D1A;
    padding: 2px 10px;
    outline: none;
    transition: background 0.2s linear;
}

.profile_main_edit_button:hover {
    color: #F5F5C8;
    background: #B93726;
}

.profile_main_inner { display: flex; }

.profile_main_buttons { display: block; }

.profile_projects_grid { display: flex; }

.profile_buttons {
    display: grid;
    justify-items: start
}

/* #endregion Profile */

/* #region LogReg */

.log_reg_container {
    margin-top: 157px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.log_reg_label {
    color: #2E1D1A;
    line-height: 116px;
    color: rgba(236, 236, 193, 0.1);
    margin-top: 200px;
}

.log_reg_title {
    font-size: 32px;
    line-height: 39px;
    color: #111211;
    margin-top: 64px;
    margin-left: 64px;
}

.log_tabel {
    color: #111211;
    margin-top: 200px;
    display: table;
    width: 590px;
    background: #4B5B3E;
}

.reg_tabel {
    color: #111211;
    margin-top: 200px;
    display: table;
    width: 590px;
    background: #4B5B3E;
}

.log_form {
    display: grid;
    margin-top: 10px;
    margin-left: 64px;
    margin-right: 64px;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
}

.form_string {
    margin-bottom: 35px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}

.form_string input {
    background: none;
    border: none;
    border-bottom: solid;
    outline: none;
    width: 460px;
}


.form_button {
    background: #DB5141;
    border: none;
    outline: none;
    font-size: 26px;
    padding: 0px 5px;
}

.form_button:hover {
    color: #DB5141;
    background: #111211;
}

.log_reg_button {
    display: inline-block;
    text-decoration: none;
    color: #111211;
    background: #DB5141;
    padding: 0px 5px;
    margin-left: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.log_reg_button:hover {
    color: #DB5141;
    background: #111211;
}

/* #endregion LogReg */

/* #region Editor */

.information_edit {
    display: block;
    width: 507px;
    background: #1f4d40;
}

.information_edit input {
    border: none;
    outline: none;
    width: 457px;
    color: #111211;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: #F5F5C8;
    margin-left: 23px;
    margin-top: 26px;
    margin-bottom: 23px;
    padding-left: 15px;
    padding-top: 3px;
}

.information_edit button {
    border: none;
    outline: none;
    color: #111211;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 23px;
    background: #b93726;
}

.notification {
    margin: 0 23px 23px 23px;
    color: #111211;
    margin-bottom: 23px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

/* #endregion Editor */

/* #region Projects */

.projects_list {
    display: grid;
    grid-template-columns: repeat(2, 507px);
    grid-gap: 10px;
    margin-left: 0;
}

.projects_list li {
    width: 507px;
    height: 441px;
    background: #111211;
}

.prjects_list_main {
    display: grid;
    grid-template-columns: repeat(3, 507px);
    grid-gap: 40px;
    margin-left: 0;
}

.prjects_list_main li {
    width: 507px;
    height: 441px;
    background: #111211;
}

/* #endregion Projects */