
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout"; 
}

<div class="text-center">
        <h2>Основная страница</h2>
        <p><a class="Ьtn Ьtn-primary" asp-action="LogIn" asp-controller="Content"> Войти</a></p>
        <p><a class="Ьtn Ьtn-primary" asp-controller="Content" asp-action="Account"> Моя страница</a></p>
</div>