@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
    <link rel="stylesheet" href ="/lib/bootstrap/css/bootstrap.css"/>
</head>
<body>
    <div class="text-center">
        <h2>Основная страница</h2>
        <p><a class="Ьtn Ьtn-primary" asp-action="LogIn"> Войти</a></p>
    </div>
</body>
</html>