@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<form id ="infoForm">
    <label for="firstName">Имя:</label>
    <input type="text" id="name" name="name">

    <label for="lastName">Второе имя:</label>
    <input type="text" id="lastName" name="lastName">

    <label for="phoneNumber">Номер телефона:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber">

    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age">

    <button type="submit" id="saveBtn">Сохранить</button>
</form>  

<script src="~/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
