@model MVP.ViewModels.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Register</title>
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@800&display=swap" rel="stylesheet">
</head>
<body>
<div class="log_reg_container">
	<div class="reg_tabel">
		<div class="log_reg_title">Register</div>
		<form asp-action="Register" asp-controller="Content" asp-anti-forgery="true">
			<div class="log_form">
				<div class="form_string">
					<input type="text" asp-for="Login" placeholder="Login"/>
					<span asp-validation-for="Login" />
				</div>
				<div class="form_string">
					<input type="email" asp-for="Email" placeholder="Email..."/>
					<span asp-validation-for="Email"/>
				</div>
				<div class="form_string">
					<input type="password" asp-for="Password" placeholder="Password"/>
					<span asp-validation-for="Password"/>
				</div>
				<div class="form_string">
					<input type="password" asp-for="PasswordConfirm" placeholder="Repeat password"/>
					<span asp-validation-for="PasswordConfirm"/>
				</div>
			</div>
			<div class="form_buttons">
				<button class="form_button" type="submit"> Register </button>
			</div>
		</form>
	</div>
	<div class="log_reg_label">The developer we deserve</div>
</div>
</body>
</html>
