
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div>
    <h1>Upload File</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileName">File Name:</label>
        <input type="text" id="fileName" name="fileName" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="file">File:</label>
        <input type="file" id="file" name="file" required><br><br>

        <input type="submit" value="Upload">
    </form>

    <script src="~/js/upload.js"></script>
</div>

